site_name: CLS Valorant Docs
nav:
  - Home: index.md
  - CLS菜单文档: CLS菜单文档.md
  - CLS开启教程 - 国服(ACE): CLS开启教程 - 国服(ACE).md
  - CLS开启教程 - 港服(RIOT): CLS开启教程 - 港服(RIOT).md
  - 常见问题疑难解答: 常见问题疑难解答.md
  - 网页雷达搭建和使用: 网页雷达搭建和使用.md
theme:
  name: material 
  logo:  assets/images/CLS.png 
  language: en 
  features: 
    - announce.dismiss
    - content.tooltips 
    - navigation.expand 
    - navigation.footer 
    - navigation.indexes 
    - navigation.instant.prefetch 
    - navigation.instant.progress 
    - navigation.path
    - navigation.sections 
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top 
    - navigation.tracking 
    - search.highlight 
    - search.share
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)" 
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)" 
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font: 
    text: Roboto
    code: Roboto Mono

